<div class="container-fluid">


  <div class="row">
    <div>
      <h1>Transactions</h1>
      <table class="table table-striped" id="ledger_table">
        <thead>
        <tr>
          <th>Date</th>
          <th>Category</th>
          <th>Description</th>
          <th>Amount</th>
          <th colspan="1" class="hidden">Inline-Edit</th>
          <th colspan="1" class="hidden">Delete</th>
        </tr>
        </thead>
        <tbody>
        <% @entries.each do |entry| %>
            <tr data-row-id="<%= entry.id %>" id="row-<%= entry.id %>">
              <td class="entry_date"><%= entry.date.strftime("%m/%d/%Y") %></td>
              <td>
                <div class="entry_cat" data-category-id=<%= entry.category.id %>>
                  <% if !entry.category.nil? %><%= entry.category.name %>
                  <% end %>
                </div>
              </td>
              <td class="entry_desc"><%= entry.description %></td>
              <td class="entry_amt"><%= entry.amount %></td>
              <td class="inline-edit-btn">
                <button type="button" class="btn btn-xs center-block" aria-label="Left Align">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
              </td>
              <td>
                <%= link_to entry, method: :delete, data: {confirm: 'Are you sure?'} do %>
                    <button type="button" class="btn btn-xs center-block" aria-label="Left Align">
                      <span class="glyphicon glyphicon-remove-circle" style="color: #A60F0F;" aria-hidden="true"></span>
                    </button>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <div class="row">
        <div class="col-md-4x"><%= link_to 'New Entry', new_entry_path %></div>
      </div>

    </div>

  </div>

</div>


