<h1>Listing default_categories</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @default_categories.each do |default_category| %>
      <tr>
        <td><%= default_category.title %></td>
        <td><%= default_category.description %></td>
        <td><%= default_category.color %></td>
        <td><%= link_to 'Show', default_category %></td>
        <td><%= link_to 'Edit', edit_default_category_path(default_category) %></td>
        <td><%= link_to 'Destroy', default_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Default category', new_default_category_path %>
