<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @default_category.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @default_category.description %>
</p>

<p>
  <strong>Color:</strong>
  <%= @default_category.color %>
</p>

<%= link_to 'Edit', edit_default_category_path(@default_category) %> |
<%= link_to 'Back', default_categories_path %>
