<%= form_for(@register_item) do |f| %>
  <% if @register_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@register_item.errors.count, "error") %> prohibited this register_item from being saved:</h2>

      <ul>
      <% @register_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
